<div class="flex flex-col bg-white rpunded-lg shadow-lg overflow-hidden modal-dialog">
  <div class="overflow-y-auto">
    <div class="border-b p-6 flex items-center gap-x-4 bg-gray-100">
      <ng-icon name="tablerUserSearch" class="text-2xl"></ng-icon>
      <h2 class="modal-header">{{ data.title }}</h2>
      <button
        (click)="dialogRef.close()"
        type="button"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        data-modal-hide="static-modal"
      >
        <ng-icon name="tablerX" class="text-lg"></ng-icon>
      </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-4 space-y-4">
      <div formArrayName="categories" class="space-y-2">
        <label
          *ngFor="let ctrl of categoryControls.controls; let i = index"
          class="flex items-center p-2 gap-2 rounded hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer transition-colors duration-150 odd:bg-white even:bg-gray-50 dark:odd:bg-gray-800 dark:even:bg-gray-700"
        >
          <input
            type="checkbox"
            [formControlName]="i"
            class="h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500"
          />
          <span class="text-gray-800 dark:text-gray-200 font-medium">
            {{ data.allCategories[i].name }}
          </span>
        </label>
      </div>
      <div class="flex justify-end gap-4 flex-wrap p-6">
        <app-button
          color="outline"
          type="button"
          (click)="dialogRef.close({ selectedIds: undefined })"
          class="mr-2"
          >Skip</app-button
        >
        <app-button type="submit" [disabled]="form.invalid">Submit</app-button>
      </div>
    </form>
  </div>
</div>
