<section class="p-4 bg-white pb-[22px] desktop:pb-[30px] tablet:p-5 desktop:p-6 w-[600px]">
  <h2
    class="mb-4 font-bold text-xl text-gray-900 uppercase tracking-wide border-b-2 border-gray-200 pb-2"
  >
    {{ title() }}
  </h2>
  <p class="mb-6 font-light">
    {{ subtitle() }}
  </p>
  <dl class="divide-y divide-[#F1EDED]" aria-live="polite">
    @for (faq of localFaqList(); track faq.id) {
      <div
        class="py-4 hover:bg-gray-100 cursor-pointer transition-colors duration-200 ease-in-out"
        (click)="toggleAnswerVisibility(faq.id)"
      >
      <dt class="mb-2 font-semibold text-[#1F1F1F] relative">
        <p>{{ faq.question }}</p>
        <app-svg
          name="arrow-right"
          size="size-5"
          class="absolute top-1/2 right-0 transform transition-transform duration-200"
          [class.rotate-90]="!faq.isAnswerHidden"
        ></app-svg>
      </dt>
        @if (!faq.isAnswerHidden) {
          <dd class="text-[#4B4B4B]">{{ faq.answer }}</dd>
        }
      </div>
    }
  </dl>
</section>
