@if (!editMode()) {
<div class="pt-16 max-w-sm mx-auto flex justify-between items-center">
  <div class="font-semibold">Password: **********</div>
  <app-button class="w-fit" (click)="editMode.set(true)"
    >Change password</app-button
  >
</div>
} @else {
<form [formGroup]="passwordForm" class="pt-16 max-w-sm mx-auto space-y-12">
  <div class="mt-2 h-10">
    <app-input
      [id]="'oldPassword'"
      [type]="'password'"
      [label]="'Old password'"
      formControlName="oldPassword"
      [error]="getErrorMessage('oldPassword')"
    ></app-input>
  </div>
  <div class="mt-2 h-10">
    <app-input
      [loverBoundary]="passwordConstants.minLength"
      [upperBoundary]="passwordConstants.maxLength"
      [id]="'newPassword'"
      [type]="'password'"
      [label]="'New password'"
      formControlName="newPassword"
      [error]="getErrorMessage('newPassword')"
    ></app-input>
  </div>
  <div class="mt-2 h-10">
    <app-input
      [id]="'confirmPassword'"
      [type]="'password'"
      [label]="'Confirm password'"
      formControlName="confirmPassword"
      [error]="getErrorMessage('confirmPassword')"
    ></app-input>
  </div>
  <div class="flex items-start mb-5 gap-x-3">
    <app-button type="button" color="outline" (click)="discard()"
      >Discard</app-button
    >
    <app-button
      type="button"
      (click)="onSubmit()"
      [disabled]="passwordForm.invalid"
      >Save</app-button
    >
  </div>
</form>
}
