<div>
    <div class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800">
      <ul class="space-y-2">
        <cdk-accordion>
          @for (
            sidebarItem of sidebarItems;
            track sidebarItem.title;
            let index = $index
          ) {
            @if (isAvailable(sidebarItem)) {
              <li>
                <a
                  [routerLink]="sidebarItem.href"
                  routerLinkActive="text-primary-main font-semibold"
                  *ngIf="!sidebarItem.children?.length; else group"
                  class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
                >
                  <ng-icon
                    class="text-2xl text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                    [name]="sidebarItem.icon"
                  ></ng-icon>
                  <span class="ml-3">{{ sidebarItem.title | appTranslate | async }}</span>
                </a>
                <ng-template #group>
                  <cdk-accordion-item
                    #accordionItem="cdkAccordionItem"
                    class="example-accordion-item"
                    role="button"
                    tabindex="0"
                    [attr.id]="'accordion-header-' + index"
                    [attr.aria-expanded]="accordionItem.expanded"
                    [attr.aria-controls]="'accordion-body-' + index"
                  >
                    <button
                      type="button"
                      class="flex items-center p-2 w-full text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                      (click)="accordionItem.toggle()"
                    >
                      <ng-icon
                        class="text-2xl text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        [name]="sidebarItem.icon"
                      ></ng-icon>
                      <span
                        class="ml-3 text-start whitespace-nowrap overflow-hidden text-ellipsis max-w-32"
                        >{{ sidebarItem.title }}</span
                      >
                      <div class="flex-grow"></div>
                      <ng-icon
                        class="text-2xl text-gray-500 transition duration-100 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                        [ngClass]="{
                          'transform rotate-180': accordionItem.expanded,
                        }"
                        name="tablerChevronDown"
                      ></ng-icon>
                    </button>
                    <div
                      class="example-accordion-item-body"
                      role="region"
                      [style.display]="accordionItem.expanded ? '' : 'none'"
                      [attr.id]="'accordion-body-' + index"
                      [attr.aria-labelledby]="'accordion-header-' + index"
                    >
                      @for (
                        subItem of sidebarItem.children;
                        track subItem.href;
                        let subItemIndex = $index
                      ) {
                        @if (isAvailable(subItem)) {
                          <li>
                            <a
                              [routerLink]="subItem.href"
                              routerLinkActive="text-primary-main font-semibold"
                              class="flex items-center p-2 text-base font-medium text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
                            >
                              <ng-icon
                                class="text-2xl transition duration-75"
                                [name]="subItem.icon"
                              ></ng-icon>
                              <span class="ml-3">{{ subItem.title }}</span>
                            </a>
                          </li>
                        }
                      }
                    </div>
                  </cdk-accordion-item>
                </ng-template>
              </li>
            }
          }
        </cdk-accordion>
      </ul>
    </div>
    <!-- <div
      class="absolute bottom-0 left-0 justify-center p-4 space-x-4 w-full flex bg-white dark:bg-gray-800 z-20"
    >
      <a
        href="#"
        class="inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer dark:text-gray-400 hover:text-gray-900 dark:hover:text-white hover:bg-gray-100 dark:hover:bg-gray-600"
      >
        <svg
          aria-hidden="true"
          class="w-6 h-6"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"
          ></path>
        </svg>
      </a>
      <a
        href="#"
        data-tooltip-target="tooltip-settings"
        class="inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer dark:text-gray-400 dark:hover:text-white hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-600"
      >
        <svg
          aria-hidden="true"
          class="w-6 h-6"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </a>
      <div
        id="tooltip-settings"
        role="tooltip"
        class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip"
      >
        Settings page
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    </div> -->
  </div>