<div class="relative w-full h-10 bg-white dark:bg-gray-800 flex items-center justify-center md:justify-start border-b border-gray-200 dark:border-gray-700 shadow-sm">
  <button
    class="absolute left-3 p-2 md:hidden text-xs flex flex-col items-center justify-center text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
    aria-label="Toggle sidebar"
    cdkOverlayOrigin
    #triggerSide="cdkOverlayOrigin"
    (click)="isSidebarShowed.set(!isSidebarShowed())"
  >
    {{ 'shared.menu' | appTranslate | async }}
    <app-svg fill="black" name="mobile-menu"></app-svg>
  </button>
  <img
    class="size-9 hidden md:block m-auto"
    [src]="logoDesktopUrl()"
    alt="logo"
  />
  <div class="block md:hidden">
    <span>{{ 'components.sidebar.title' | appTranslate | async }}</span>
  </div>
</div>
<div
  (click)="isSidebarShowed.set(false)"
  class="antialiased bg-gray-100 dark:bg-gray-900 flex flex-col min-h-screen min-w-full overflow-hidden"
>
  <div class="flex flex-grow h-0">
    <aside
      class="w-72 transition-transform -translate-x-full bg-white border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
      aria-label="Sidenav"
    >
      <div class="px-4 py-2">
        <div class="text-3xl font-bold text-gray-900">
          {{ 'components.sidebar.title' | appTranslate | async }}
        </div>
      </div>
      <ul class="mt-10 space-y-2">
        <li class="cursor-pointer px-4 py-2 hover:bg-gray-200 transition-colors border-b border-gray-300">
          <span *ngIf="userRole$ | async as role">
            Your role: {{ role }}
          </span>
        </li>
        <li
          class="cursor-pointer px-4 py-2 hover:bg-gray-200 transition-colors border-b border-gray-300"
          [routerLink]="AppRoutes.Overview"
        >
          <div class="space-y-1">
            <p class="font-medium">
              {{ 'components.sidebar.overview' | appTranslate | async }}
            </p>
            <p class="text-xs text-gray-500">
              {{ 'components.sidebar.overviewDescription' | appTranslate | async }}
            </p>
          </div>
        </li>
        <li
          class="cursor-pointer px-4 py-2 hover:bg-gray-200 transition-colors border-b border-gray-300"
          (click)="router.navigate([''])"
        >
          <div class="space-y-1">
            <p class="font-medium">
              {{ 'components.sidebar.home' | appTranslate | async }}
            </p>
            <p class="text-xs text-gray-500">
              {{ 'components.sidebar.homeDescription' | appTranslate | async }}
            </p>
          </div>
        </li>
        <li
          class="cursor-pointer px-4 py-2 hover:bg-gray-200 transition-colors border-b border-gray-300"
          (click)="router.navigate(['/' + AppRoutes.LearnWords])"
        >
          <div class="space-y-1">
            <p class="font-medium">
              {{ 'components.sidebar.learnWord' | appTranslate | async }}
            </p>
            <p class="text-xs text-gray-500">
              {{ 'components.sidebar.learnWordDescription' | appTranslate | async }}
            </p>
          </div>
        </li>
        <li
          class="cursor-pointer px-4 py-2 hover:bg-gray-200 transition-colors border-b border-gray-300"
          (click)="router.navigate(['account'])"
        >
          <div class="space-y-1">
            <p class="font-medium">
              {{ 'components.sidebar.account' | appTranslate | async }}
            </p>
            <p class="text-xs text-gray-500">
              {{ 'components.sidebar.accountDescription' | appTranslate | async }}
            </p>
          </div>
        </li>
        <li
          class="cursor-pointer px-4 py-2 hover:bg-gray-200 transition-colors border-b border-gray-300"
        >
          <div class="space-y-1">
            <p class="font-medium">
              {{ 'components.sidebar.categories' | appTranslate | async }}
            </p>
            <p class="text-xs text-gray-500">
              {{ 'components.sidebar.categoriesDescription' | appTranslate | async }}
            </p>
          </div>
        </li>
        <li
          class="cursor-pointer px-4 py-2 hover:bg-gray-200 transition-colors border-b border-gray-300"
        >
          <div class="space-y-1">
            <p class="font-medium">
              {{ 'components.sidebar.chat' | appTranslate | async }}
            </p>
            <p class="text-xs text-gray-500">
              {{ 'components.sidebar.chatDescription' | appTranslate | async }}
            </p>
          </div>
        </li>
        <li
          class="cursor-pointer px-4 py-2 hover:bg-gray-200 transition-colors border-b border-gray-300"
          (click)="router.navigate(['/dictionary-list'])"
        >
          <div class="space-y-1">
            <p class="font-medium">
              {{ 'components.sidebar.manageDictionary' | appTranslate | async }}
            </p>
            <p class="text-xs text-gray-500">
              {{ 'components.sidebar.manageDictionaryDescription' | appTranslate | async }}
            </p>
          </div>
        </li>
        <li
          [ngClass]="{
            'hidden': !isAdmin()
          }"  
          class="cursor-pointer px-4 py-2 hover:bg-gray-200 transition-colors border-b border-gray-300"
          (click)="router.navigate(['/' + AppRoutes.UsersList])"
        >
          <div class="space-y-1">
            <p class="font-medium">
              Users
            </p>
            <p class="text-xs text-gray-500">
              List of users
            </p>
          </div>
        </li>
      </ul>
    </aside>

  <aside
    class="fixed top-0 left-0 h-screen w-fit bg-white border-r transform transition-transform duration-200 z-50 md:hidden"
    [class.-translate-x-full]="!isSidebarShowed()"
    [class.translate-x-0]="isSidebarShowed()"
  >
    <app-sidebar></app-sidebar>
  </aside>

    <main
      class="flex-grow flex overflow-y-auto -ml-72 transition-all md:ml-0 w-full max-w-full overflow-x-hidden"
    >
      <div class="w-full min-h-full">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
