<div class="flex flex-col bg-white rpunded-lg shadow-lg overflow-hidden modal-dialog">
  <div class="overflow-y-auto">
    <div class="border-b p-6 flex items-center gap-x-4 bg-gray-100">
      <ng-icon name="tablerUserSearch" class="text-2xl"></ng-icon>
      <h2 class="modal-header">{{ data.title }}</h2>
      <button
        (click)="dialogRef.close()"
        type="button"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
        data-modal-hide="static-modal"
      >
        <ng-icon name="tablerX" class="text-lg"></ng-icon>
      </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-4 space-y-4">
      <div class="flex flex-col w-full gap-y-6">
        <app-input label="The word" [disabled]="true" formControlName="word"></app-input>
        <app-input label="Word translation" formControlName="wordTranslation"></app-input>
      </div>
      <div class="flex justify-end gap-4 flex-wrap p-6">
        <app-button color="outline" type="button" (click)="dialogRef.close()" class="mr-2"
          >Skip</app-button
        >
        <app-button type="submit" [disabled]="form.invalid">Submit</app-button>
      </div>
    </form>
  </div>
</div>
