<div class="flex items-center justify-center w-full h-screen">

  <div class="flex justify-center min-h-screen">
    <div
      class="flex flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
    >
      <div class="mx-auto w-full max-w-sm lg:w-96">
        <h2
          class="mt-8 text-2xl font-bold leading-9 tracking-tight text-gray-900"
        >
          Sign in to your account
        </h2>

        <div class="mt-10">
          <div>
            <form
              class="space-y-8"
              [formGroup]="form"
              (ngSubmit)="onSubmit()"
              autocomplete="off"
            >
              <div>
                <label
                  for="email"
                  class="inline-block text-sm font-medium leading-6 text-gray-900"
                >
                  Email address
                </label>
                <div class="mt-2 h-10">
                  <app-input
                    [id]="'email'"
                    [type]="'email'"
                    formControlName="email"
                    autocomplete="email"
                    [error]="getErrorMessage('email')"
                  ></app-input>
                </div>
              </div>

              <div>
                <label
                  for="password"
                  class="inline-block text-sm font-medium leading-6 text-gray-900"
                >
                  Password
                </label>
                <div class="mt-2 h-10">
                  <app-input
                    [id]="'password'"
                    [type]="'password'"
                    formControlName="password"
                    [error]="getErrorMessage('password')"
                  ></app-input>
                </div>
              </div>

              <div>
                <app-button
                  type="submit"
                  [isLoading]="isLoading()"
                  [disabled]="!form.valid"
                >
                  Sign in
                </app-button>
              </div>

              <div class="mx-auto mt-2 w-fit">
                <a
                  href="/sign-up"
                  class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                >
                  Don`t have an account? Sign up
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

      <div class="w-[400px] flex flex-col gap-y-4">
            <ul class="grid gap-y-4" aria-label="validation list">
              @for (validation of validationList; track $index) {
                <li class="flex items-center gap-x-2">
                  @if (validation.isValid) {
                    <div
                      class="h-3 w-3 rounded-full bg-success text-white flex justify-center items-center"
                    >
                      <app-svg name="checkmark" size="h-5 w-5" fill="gray"></app-svg>
                    </div>
                  } @else {
                    <div
                      class="h-4 w-4 rounded-full bg-[#B3B3B3] text-white flex justify-center items-center"
                    >
                      <app-svg name="minus" size="h-3 w-3"></app-svg>
                    </div>
                  }
                  <div class="text-xl font-thin text-gray-900 dark:text-white">{{ validation.label}}</div>
                </li>
              }
            </ul>

            <div class="w-full bg-gray-200 h-2 rounded overflow-hidden">
              <div
                [style.width]="passwordStrength() + '%'"
                class="h-full transition-all !bg-blue-500"
              ></div>
            </div>

      </div>
</div>
