<div class="bg-white mx-6 mt-6 h-[80%] rounded-lg shadow-md" [@cardFall]="cardState()">

    @if (chosenWord()) {
        <div class="relative size-full bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <div class="m-5 space-y-4">
                <div class="flex flex-col gap-y-1.5">
                    <span class="flex gap-x-2 items-center">
                        <div class="size-3 bg-new" 
                            [ngClass]="{
                                'bg-new': wordStatus() === 'new',
                                'bg-unlearned': wordStatus() === 'unlearned',
                                'bg-learned': wordStatus() === 'learned',
                            }"
                        ></div>
                        <p>{{ processName(wordStatus()) }}</p>
                    </span>
                    <span class="text-gray-500 dark:text-gray-400">{{ chosenWord()?.category?.name }}</span>
                </div>
                <div class="size-28">
                    @if(getImgSrc()) {
                        <img [src]="getImgSrc()" alt="Word image" class="rounded-t-lg" />
                    } @else {
                        <div class="flex items-center justify-center max-w-28 h-28 bg-gray-300 rounded-sm sm:w-96 dark:bg-gray-700">
                            <svg class="w-10 h-10 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                                <path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
                            </svg>
                        </div>
                    }
                </div>
            </div>
            <div class="p-5">
                <div>
                    <h5 class="my-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        {{ chosenWord()?.word }}
                    </h5>
                </div>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                    {{ chosenWord()?.transcription }}
                </p>
                @if (!isTranslationShown()) {
                    <div 
                        class="w-full h-56 flex justify-center items-center"
                        [ngClass]="{
                            hidden: chosenWord() === undefined,
                        }"
                    >
                        <div 
                            title="Show translation" 
                            class="size-36 bg-gray-100 hover:bg-gray-200 cursor-pointer transition-all rounded-md mx-auto flex justify-center items-center"
                            (click)="isTranslationShown.set(true)"
                        >
                            <app-svg name="eye" size="h-8 w-8" fill="gray"></app-svg>
                        </div>
                    </div>
                } @else {
                    <div class="w-full flex justify-center items-center border-y border-gray-200 h-56">
                        <span>{{ wordTranslation() }}</span>
                    </div>
                }
                <div class="w-full mx-auto absolute bottom-6 flex justify-center gap-x-16">
                    <app-button
                        (click)="learnWord()"
                        color="text"
                    >
                        I have memorized this word
                    </app-button>
                    <ng-icon 
                        name="tablerMenu2"
                        class="mt-1.5 text-gray-400 text-lg transform rotate-[90deg]">
                    ></ng-icon>
                    <app-button
                        color="text"
                        (click)="skipWord()"
                    >
                        Keep showing this word
                    </app-button>
                </div>
            </div>
        </div>
    } @else {
        <div class="size-full flex justify-center items-center">
            <app-spinner size="large"></app-spinner>
        </div>
    }
</div>
