.no-spin-buttons::-webkit-outer-spin-button,
.no-spin-buttons::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spin-buttons[type='number'] {
  -moz-appearance: textfield;
}
