<div class="fixed inset-0 bg-black bg-opacity-50 z-40"></div>
<div
  id="static-modal"
  class="fixed inset-0 flex justify-center overflow-y-auto z-50 top-1/2 transform -translate-y-1/2"
>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <div class="bg-white rounded-lg shadow-sm">
      <!-- Header -->
      <div class="flex items-center justify-between p-4 border-b border-gray-200 rounded-t">
        <h3 class="text-xl font-semibold">{{ data.title }}</h3>
        <button
          (click)="dialogRef.close()"
          class="text-gray-400 hover:text-gray-900 rounded-lg w-8 h-8 flex items-center justify-center"
        >
          <ng-icon name="tablerX"></ng-icon>
        </button>
      </div>

      <!-- Body -->
      <div class="p-4 space-y-4">
        <form [formGroup]="form" class="space-y-6">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Name -->
            <div>
              <app-input
                formControlName="name"
                [label]="'Name'"
                [error]="getErrorMessage('name')"
                [loverBoundary]="CategoryConstants.nameMinLength"
                [upperBoundary]="CategoryConstants.nameMaxLength"
              ></app-input>
            </div>
            <!-- Description -->
            <div>
              <app-input
                formControlName="description"
                [label]="'Description'"
                [isTextarea]="true"
                [error]="getErrorMessage('description')"
                [loverBoundary]="CategoryConstants.descriptionMinLength"
                [upperBoundary]="CategoryConstants.descriptionMaxLength"
              ></app-input>
            </div>
            <div class="flex items-end gap-x-4 text-sm">
              <label for="toUpperCaseName"> Capitalize Name </label>
              <input id="toUpperCaseName" type="checkbox" formControlName="toUpperCaseName" />
            </div>
          </div>
        </form>
      </div>

      <!-- Footer -->
      <div class="flex justify-end gap-3 p-4 border-t border-gray-200 rounded-b">
        <app-button (click)="dialogRef.close()" color="outline"> Decline </app-button>
        <app-button [disabled]="form.invalid" (click)="save()"> Save </app-button>
      </div>
    </div>
  </div>
</div>
